<h1>Posts</h1>

<ul>
	<% if @posts.empty? %>
    <p>No posts available.</p>
  <% else %>
    <% @posts.each do |post| %>
      <li>
        <%= post.title %>
      </li>
    <% end %>
  <% end %>
</ul>
